html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(224, 224, 224, 1);
}
.dark-theme {
    background-color: black;
    color: white;
}
.cabecalho {
    background-color: rgba(34, 77, 122, 1);
    color: white;
    padding: 0 20px;
    align-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.cabecalho .aparencia,
.cabecalho .config,
.cabecalho .conta,
.cabecalho .notificacao {
    width: 40px; 
    height: 40px; 
    margin-left: 10px;
}
.cabecalho .logo {
    width: 120px;
    height: auto;
    margin-right: auto;
}
.cabecalho .icones {
    display: flex;
    align-items: center;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
button img {
    display: block; 
    width: 30px; 
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
}
.linha {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    align-items: center;
}
.linhaespecial {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    align-items: center;
}
.caixa {
    background-color: #3498db;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
    flex: 1;
    max-width: 250px;
}
.caixaespecial {
    background-color: rgba(255, 153, 0, 1);
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
    flex: 1;
    max-width: 250px;
}
.caixa img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}
.caixa a {
    display: flex;
    text-decoration: none; 
    color: white; 
    height: 100%; 
    width: 100%; 
    align-items: center; 
}
footer {
    background-color: rgba(34, 77, 122, 1);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: auto;
    position:absolute;
    bottom: 0;
    width: 100%;
}