.cont-resultados {
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.concurso {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.concurso h3 {
    margin: 0;
    font-size: 18px;
}

.concurso p {
    margin: 5px 0;
    font-size: 14px;
}
