body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.dark-theme {
    background-color: black;
    color: white;
}
.cabecalho {
    background-color: rgba(34, 77, 122, 1);
    color: white;
    padding: 0 20px;
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.cabecalho .aparencia,
.cabecalho .config,
.cabecalho .conta,
.cabecalho .notificacao {
    width: 40px; 
    height: 40px; 
    margin-left: 10px;
}
.cabecalho .logo {
    width: 120px;
    height: auto;
    margin-right: auto;
}
.cabecalho .icones {
    display: flex;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #e67e22;
}