* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf3fb;
 
}

.container {
    width: 100%;
    max-width: 550px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.title-form{
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

#Update {
    display: none;
}



.btn-button1 {
    background-color: green;
    border-color: green;
    color:black; 
    box-shadow: nome;
    font-weight: bold;
}

.btn-button2 {
    background-color: red;
    border-color: red;
    color:black; 
    box-shadow: nome;
    font-weight: bold;
}

.btn-button1, .btn-button2 {
    padding: 5px 10px; 
    font-size: 0.9em; 
    width: auto; 
}


